.info {
  color: #4d4d4d;
  font-size: 11px;
  margin: 65px auto 0;
  text-align: center;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.5);
}

.info p {
  line-height: 1;
  margin-bottom: 0.7rem;
}

.info a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

#blazor-error-ui {
  color-scheme: light only;
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
